/* Estilos para el Navbar */
.navbar {
  background-color: #0e6b64;
}

.btn-navbar {
  border: 1px solid #000;
  color: #000;
}

.btn-navbar:hover {
  color: #fff;
  background-color: #00a884;
}

/* Estilos para el cuerpo */
.container {
  max-width: 500px;
}

.btn-registro {
  background-color: #0e6b64;
  border: none;
}

.btn-registro:hover {
  background-color: #fff;
  border: 1px solid #0e6b64;
  color: #0e6b64;
}
